.cellTableHoveredRow {
 background: transparent;
}

.cellTableHoveredRowCell {
 border-width: 0px;
}

.subjectcardContainer {
 font-size: 24px;
 font-family: "roboto";
 cursor: pointer;
 white-space: nowrap;
 overflow:hidden;
 text-overflow: ellipsis;
 -o-text-overflow: ellipsis; 
 border-width: 0px;
 outline: none;
 height: 100%;
 margin: 0;
 display: flex;
 vertical-align: middle;
 background-color: #F7F7F7;
}

.subjectcardtd {
 font-size: 24px;
 padding: 10px 0 0 0;
}

.subjectcardtr {
 border-color: transparent;
 box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.subjectcard {
  vertical-align: middle;
  margin: auto 0 auto 10px;
}
